In [1]:
import pandas as pd

In [ ]:
nyc_neighborhoods = pd.read_html('https://en.wikipedia.org/wiki/Neighborhoods_in_New_York_City')[0]
print(nyc_neighborhoods.shape)
nyc_neighborhoods

In [3]:
from geopy.geocoders import Nominatim
import requests

---

In [41]:
nyc_median_income = pd.read_csv('data/nyc-sub-borougharea-medianhouseholdincome2018.csv').iloc[:,[2,-1]]

In [35]:
nyc_median_income.head()

                       Sub-Borough Area           2017
0            Stuyvesant Town/Turtle Bay  114526.279245
1                       Upper West Side  126256.807888
2                       Upper East Side  133852.964651
3  Morningside Heights/Hamilton Heights   51002.475674
4                        Central Harlem   49994.614252

In [56]:
address = 'Stuyvesant Town, New York City, NY'

geolocator = Nominatim(user_agent="ny_explorer")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of New York City are {}, {}.'.format(latitude, longitude))

The geograpical coordinate of New York City are 40.7319711, -73.978092781304.

In [72]:
np.mean([])

nan

In [74]:
import numpy as np


geolocator = Nominatim(user_agent="ny_explorer")

for i in nyc_median_income.index:
    lat, lng = [], []
    names = nyc_median_income.loc[i,'Sub-Borough Area'].split('/')
    for name in names:
        location = geolocator.geocode(name + ', New York City, NY')
        if location is not None:
            lat.append(location.latitude)
            lng.append(location.longitude)
    print('{}:\t{}, {}.'.format(i, lat, lng))
    if len(lat) > 0:
        nyc_median_income.loc[i,'Latitude'] = np.mean(lat)
        nyc_median_income.loc[i,'Longitude'] = np.mean(lng)

0:	[40.7319711, 40.7534666], [-73.978092781304, -73.9688659].
1:	[40.7870455], [-73.9754163].
2:	[40.7737016], [-73.9641196].
3:	[40.81, 40.8241451], [-73.9625, -73.9500618].
4:	[40.8078786], [-73.9454154].
5:	[40.7947222], [-73.9425].
6:	[40.8401984, 40.8692579], [-73.9402214, -73.9204949].
7:	[40.8089897, 40.8126008], [-73.9229147, -73.8840247].
8:	[40.8292672, 40.8552778], [-73.9065253, -73.8863889].
9:	[40.8460552], [-73.9297329337184].
10:	[40.8601, 40.8592667], [-73.909303, -73.8984694].
11:	[40.8725702, 40.8797256], [-73.9026619, -73.8846982].
12:	[40.90056, 40.8787051], [-73.90639, -73.9051408].
13:	[40.8294972, 40.8389893], [-73.8746243, -73.8604128].
14:	[40.8226008, 40.8738889], [-73.8195784, -73.8294444].
15:	[40.8592334], [-73.8550166].
16:	[40.8772494, 40.8612222], [-73.8655145, -73.8412865].
17:	[40.714622, 40.7237134], [-73.95345, -73.9509714].
18:	[40.7319802, 40.7076124], [-73.9965658, -74.009378].
19:	[40.7159357, 40.7164913], [-73.9868057, -73.9962504].
20:	[40.7464906, 40.7644228, 40.7622684], [-74.0015283, -73.9923918, -73.9795443].
21:	[40.6537148], [-73.9304151].
22:	[40.6212155, 40.643715], [-73.9348597, -73.9006921].
23:	[40.69608485, 40.6907711], [-73.9950278391265, -73.9766245].
24:	[40.6834364], [-73.9412488].
25:	[40.6942696], [-73.9187482].
26:	[40.6667702, 40.6478541], [-73.8823583, -73.8795154568842].
27:	[40.6701033, 40.6784201], [-73.9859723, -73.9948021].
28:	[40.644337], [-74.007532].
29:	[40.667471, 40.6778708], [-73.9435662, -73.9684725].
30:	[40.667471], [-73.9435662].
31:	[40.630188], [-74.0271902].
32:	[40.6049772], [-73.9934061].
33:	[40.633993], [-73.9968059].
34:	[40.575789], [-73.985145].
35:	[40.6520481], [-73.959027].
36:	[40.5912161, 40.5961338], [-73.9445822, -73.9739426].
37:	[40.6672357, 40.6757317], [-73.9067979, -73.9124338].
38:	[40.7720145], [-73.9302673].
39:	[40.7398242, 40.7461604], [-73.9354153, -73.9032853].
40:	[40.7556561], [-73.8857755].
41:	[40.7365804, 40.7469593], [-73.8783932, -73.8601456].
42:	[40.7182153, 40.7080556], [-73.8786698186696, -73.9141667].
43:	[40.72293705, 40.7195766], [-73.8622065151304, -73.8448686].
44:	[40.744181, 40.7945457], [-73.8358541, -73.8184674].
45:	[42.3792319, 40.73613835], [-78.2052895, -73.7800816557486].
46:	[40.67677, 40.6892698], [-73.8437461, -73.8579131].
47:	[40.6701035, 40.6578815], [-73.8190231, -73.8362459].
48:	[40.7684351, 40.7620463], [-73.7770774, -73.7381874].
49:	[40.6914852], [-73.8056771].
50:	[40.7267692], [-73.7415208].
51:	[40.58937475], [-73.8015675874329].
52:	[44.0347778], [-76.2788215].
53:	[40.6220596], [-73.5185421].
54:	[], [].

In [75]:
nyc_median_income

                        Sub-Borough Area           2017   Latitude  Longitude
0             Stuyvesant Town/Turtle Bay  114526.279245  40.742719 -73.973479
1                        Upper West Side  126256.807888  40.787045 -73.975416
2                        Upper East Side  133852.964651  40.773702 -73.964120
3   Morningside Heights/Hamilton Heights   51002.475674  40.817073 -73.956281
4                         Central Harlem   49994.614252  40.807879 -73.945415
5                            East Harlem   37471.248212  40.794722 -73.942500
6              Washington Heights/Inwood   57457.272687  40.854728 -73.930358
7                 Mott Haven/Hunts Point   21365.846887  40.810795 -73.903470
8                     Morrisania/Belmont   26467.317339  40.842272 -73.896457
9             Highbridge/South Concourse   31489.300238  40.846055 -73.929733
10            University Heights/Fordham   30741.301974  40.859683 -73.903886
11           Kingsbridge Heights/Mosholu   36029.262457  40.876148 -73.893680
12                 Riverdale/Kingsbridge   55015.578080  40.889633 -73.905765
13                 Soundview/Parkchester   40767.943561  40.834243 -73.867519
14                Throgs Neck/Co-op City   60657.156271  40.848245 -73.824511
15                        Pelham Parkway   48933.761128  40.859233 -73.855017
16             Williamsbridge/Baychester   59893.871939  40.869236 -73.853400
17               Williamsburg/Greenpoint   78069.006882  40.719168 -73.952211
18  Greenwich Village/Financial District  147640.998056  40.719796 -74.002972
19             Lower East Side/Chinatown   40338.914584  40.716214 -73.991528
20               Chelsea/Clinton/Midtown  103925.900570  40.757727 -73.991155
21                         East Flatbush   50290.144902  40.653715 -73.930415
22                    Flatlands/Canarsie   78108.750659  40.632465 -73.917776
23          Brooklyn Heights/Fort Greene   94327.268889  40.693428 -73.985826
24                    Bedford Stuyvesant   52896.929044  40.683436 -73.941249
25                              Bushwick   51622.070967  40.694270 -73.918748
26           East New York/Starrett City   37487.553352  40.657312 -73.880937
27            Park Slope/Carroll Gardens  137374.874736  40.674262 -73.990387
28                           Sunset Park   57869.996525  40.644337 -74.007532
29  North Crown Heights/Prospect Heights   61253.312926  40.672671 -73.956019
30                   South Crown Heights   52046.004588  40.667471 -73.943566
31                             Bay Ridge   69988.791297  40.630188 -74.027190
32                           Bensonhurst   54513.175976  40.604977 -73.993406
33                          Borough Park   46229.146149  40.633993 -73.996806
34                          Coney Island   36806.813787  40.575789 -73.985145
35                              Flatbush   57678.411139  40.652048 -73.959027
36              Sheepshead Bay/Gravesend   62442.569023  40.593675 -73.959262
37                Brownsville/Ocean Hill   20640.268189  40.671484 -73.909616
38                               Astoria   67647.984739  40.772014 -73.930267
39                    Sunnyside/Woodside   68643.617306  40.742992 -73.919350
40                       Jackson Heights   57680.449281  40.755656 -73.885775
41                       Elmhurst/Corona   52983.550097  40.741770 -73.869269
42              Middle Village/Ridgewood   72592.518226  40.713135 -73.896418
43                Rego Park/Forest Hills   76885.865213  40.721257 -73.853538
44                   Flushing/Whitestone   52262.047684  40.769363 -73.827161
45               Hillcrest/Fresh Meadows   65225.652484  41.557685 -75.992686
46                  Ozone Park/Woodhaven   71249.382377  40.683020 -73.850830
47         South Ozone Park/Howard Beach   75300.190418  40.663993 -73.827634
48                   Bayside/Little Neck   71492.940396  40.765241 -73.757632
49                               Jamaica   62846.121220  40.691485 -73.805677
50                        Queens Village   87494.396458  40.726769 -73.741521
51                             Rockaways   55042.073931  40.589375 -73.801568
52                           North Shore   64069.006666  44.034778 -76.278822
53                            Mid-Island   83041.055292  40.622060 -73.518542
54                           South Shore   98642.016371        NaN        NaN

https://catalog.data.gov/dataset/neighborhood-names-gis

In [85]:
!wget -q -O "data//Neighborhood Names GIS.json" https://data.cityofnewyork.us/api/views/xyye-rtrs/rows.json?accessType=DOWNLOAD
print('Neighborhood Names GIS.json was imported successfully!')

Neighborhood Names GIS.json was imported successfully!

Boundaries of Neighborhood Tabulation Areas  
https://catalog.data.gov/dataset/neighborhood-tabulation-areas/resource/ea539dc4-f912-44f5-85d7-da2ec41465bd

In [85]:
!wget -q -O "data//Neighborhood Names GIS.json" https://data.cityofnewyork.us/api/views/q2z5-ai38/rows.json?accessType=DOWNLOAD
print('Neighborhood Names GIS.json was imported successfully!')

Neighborhood Names GIS.json was imported successfully!

2010 Census Tracts (water areas included)  
https://catalog.data.gov/dataset/2010-census-tracts-water-areas-included

In [87]:
!wget -q -O "data//Census Tracts.json" https://data.cityofnewyork.us/api/views/ghm7-s8ah/rows.json?accessType=DOWNLOAD
print('Census Tracts.json was imported successfully!')

Census Tracts.json was imported successfully!

CSV  

https://data.cityofnewyork.us/api/views/ghm7-s8ah/rows.csv?accessType=DOWNLOAD

In [86]:
# download countries geojson file
!wget --quiet https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DV0101EN/labs/Data_Files/world_countries.json -O world_countries.json
    
print('GeoJSON file downloaded!')

GeoJSON file downloaded!

---

In [3]:
import pandas as pd

tracts_2010 = pd.read_csv('data/nyct2010wi.csv')
tracts_2010.rename(columns={'the_geom':'Polygon','BoroName':'Borough','BoroCT2010':'ID'}, inplace=True)
tracts_2010.head(3)

,BoroCode,CTLabel,the_geom,BoroName,CT2010,BoroCT2010,CDEligibil,NTACode,NTAName,PUMA,Shape_Leng,Shape_Area
0,5,9.0,MULTIPOLYGON (((-74.08130714211008 40.64074191...,Staten Island,900,5000900,E,SI22,West New Brighton-New Brighton-St. George,3903,7729.016666,2.497010e+06
1,1,98.0,MULTIPOLYGON (((-73.96653673334279 40.75335025...,Manhattan,9800,1009800,I,MN19,Turtle Bay-East Midtown,3808,5534.199988,1.906016e+06
2,1,100.0,MULTIPOLYGON (((-73.97075919418829 40.75582485...,Manhattan,10000,1010000,I,MN19,Turtle Bay-East Midtown,3808,5692.168417,1.860938e+06

In [4]:
for ind, row in tracts_2010.head(2).iterrows():
    coordinates = [[[i.replace(' ',',')] for i in row.the_geom[16:-3].split(', ')]]
    print(coordinates)

[[['-74.08130714211008,40.640741917092754'], ['-74.08110049694088,40.639922825339106'], ['-74.08191207797016,40.6398059117602'], ['-74.08194326579557,40.639933277385516'], ['-74.08204648142987,40.64033852695764'], ['-74.08228199570526,40.640600896453016'], ['-74.08503312179009,40.64019785756613'], ['-74.0872057798552,40.639895367647135'], ['-74.08709163679771,40.64033437636213'], ['-74.08701899114598,40.640613790347864'], ['-74.08682767812013,40.641338023476784'], ['-74.08667746827203,40.64190963276974'], ['-74.08652380457303,40.64256408357222'], ['-74.08575006381034,40.642846120676055'], ['-74.08496857468032,40.643130075816266'], ['-74.0841435240328,40.643430896803714'], ['-74.08207268456387,40.6442076049353'], ['-74.08237118148917,40.644645079481776'], ['-74.08028198256949,40.64479321566102'], ['-74.07920577013243,40.64343078374566'], ['-74.07913504647577,40.6433378990455'], ['-74.07819773831595,40.64211481672276'], ['-74.07884632409665,40.641995568528166'], ['-74.0791223401088,40.64194431928626'], ['-74.07965266950572,40.64185535105022'], ['-74.08055489346589,40.64169150377347'], ['-74.08148001617707,40.641550461625826'], ['-74.08130714211008,40.640741917092754']]]
[[['-73.96653673334279,40.75335025612636'], ['-73.96661581765123,40.75324342543939'], ['-73.96897803741389,40.75425053544143'], ['-73.97121704531175,40.75519332425523'], ['-73.97075919418829,40.755824851242494'], ['-73.97031393611448,40.7564530190295'], ['-73.96984859921483,40.75707595750041'], ['-73.96939411311261,40.757699528158426'], ['-73.96893510322617,40.75833009163121'], ['-73.96670187508813,40.75738080380005'], ['-73.9643254354485,40.756381530991106'], ['-73.96478633196509,40.755755731448325'], ['-73.96524094428382,40.75512992861379'], ['-73.9656961990018,40.754505070476604'], ['-73.96615683421628,40.753877850620285'], ['-73.96653673334279,40.75335025612636']]]

In [29]:
tracts_2010.BoroCT2010.astype('str').str[-6:]

0       000900
1       009800
2       010000
3       010200
4       010400
5       011300
6       011402
7       013000
8       014000
9       014801
10      018400
11      019000
12      020600
13      007400
14      007800
15      024900
16      026100
17      026300
18      026700
19      026900
20      027700
21      000501
22      004100
23      005800
24      006000
25      006700
26      006900
27      008000
28      009800
29      010100
         ...
2138    031700
2139    000100
2140    023000
2141    033100
2142    036800
2143    042600
2144    019200
2145    094500
2146    002100
2147    000100
2148    008601
2149    047700
2150    048100
2151    070600
2152    022800
2153    027702
2154    006000
2155    056500
2156    000301
2157    000700
2158    022401
2159    033400
2160    095800
2161    096000
2162    002000
2163    007600
2164    017800
2165    006100
2166    006300
2167    034000
Name: BoroCT2010, Length: 2168, dtype: object

http://app.coredata.nyc/?mlb=true&ntii=hh_inc_med_adj&ntr=Census%20Tract&mz=14&vtl=https%3A%2F%2Fthefurmancenter.carto.com%2Fu%2Fnyufc%2Fapi%2Fv2%2Fviz%2F98d1f16e-95fd-4e52-a2b1-b7abaf634828%2Fviz.json&mln=true&mlp=false&mlat=40.629111&ptsb=&nty=2013-2017&mb=roadmap&pf=%7B"subsidies"%3Atrue%7D&md=table&mlv=false&mlng=-74.03597&btl=Community%20District&atp=neighborhoods#

# Median household income (2018$)
http://app.coredata.nyc/47c2b2a7-a30f-481d-a65e-10db06084445

In [5]:
NYC_median_income = pd.read_csv('data/censustract-medianhouseholdincome2018.csv')

In [6]:
NYC_median_income.head()

,short_name,long_name,Census Tract,2008-2012,2013-2017
0,hh_inc_med_adj,Median household income (2018$),36047028300,20387.548019,35378.075957
1,hh_inc_med_adj,Median household income (2018$),36047028400,42570.205612,50138.303292
2,hh_inc_med_adj,Median household income (2018$),36047028501,108827.840812,93593.537621
3,hh_inc_med_adj,Median household income (2018$),36047028502,22833.750443,19209.492217
4,hh_inc_med_adj,Median household income (2018$),36047028600,43251.632239,41730.965850

In [14]:
NYC_median_income['Income'] = NYC_median_income['2013-2017'].fillna(NYC_median_income['2008-2012'])

In [ ]:
NYC_median_income['ID'] =

In [35]:
len(set(NYC_median_income['Census Tract'].astype('str').str[-8:]))

2167

In [38]:
NYC_median_income['Census Tract'].astype('str').str[:5].value_counts()

36047    761
36081    669
36005    339
36061    288
36085    110
Name: Census Tract, dtype: int64

# Median Household Income 2010, Census Tracts  
http://data.beta.nyc/dataset/median-household-income-2010-census-tracts

In [ ]:
!wget -O 'data/NYC.geojson' http://data.beta.nyc//dataset/d6ffa9a4-c598-4b18-8caf-14abde6a5755/resource/74cdcc33-512f-439c-a43e-c09588c4b391/download/60dbe69bcd3640d5bedde86d69ba7666geojsonmedianhouseholdincomecensustract.geojson

In [ ]:
!wget -O 'data/NYC.csv' http://data.beta.nyc//dataset/d6ffa9a4-c598-4b18-8caf-14abde6a5755/resource/5a7c26b5-f8b0-4a3f-87fe-56a9c2ff5692/download/ce0a29b4e12a40e491e547a7603b8611csvmedianhouseholdincomecensustract.csv